.container {
  width: 100%;
  padding: 0px 20px;

  .wrapper {
    padding: 5rem 0px 4rem;
    max-width: 700px;
    width: 100%;
    margin: 0px auto;

    .container-logo {
      text-align: left;
      margin: 0px 0px 0px 1rem;

      @media screen and (max-width: 768px) {
        max-width: 200px;
      }

      img {
        cursor: pointer;
      }
    }
  }
}
